@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-style: italic;  
  }
a:hover {
  color: slategrey;
  text-decoration: none;
  }
/* start nav */
header a {
  text-decoration: none;
}
  
header {
  font-size: 25px;
  padding: 0 20px;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
  
#brand {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
}
  
#brand a {
  color: #da1212cc;
}

#brand a:hover{
  color: #e05353cc;
}
  
header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
header ul a {
  text-decoration: none;
  color: #e05353cc;
}

header ul a:hover{
  color: #da1212cc;
}
  
header ul li {
  color: white;
  padding: 5px;
  margin-left: 10px;
}
  
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
  
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
  
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
  opacity: 0;
}
  
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}
  
.mobile-menu li {
  margin-bottom: 10px;
}

.box-- .contant{
  position: absolute;
  top: 275px;
  width: auto;
  left: 437px;
  color: white;
}
.box-- .contant p{
  padding-left: 60px;
}

.box-- .contant{
  position: relative;
}

.contant img{
  height: 100vh;
  width: 100%;
}

.contant .heading{
  color: #e05353cc;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.contant .heading2{
  color: #e05353cc;
  position: absolute;
  top: 57%;
  width: 100%;
  text-align: center;
}
  
  @media only screen and (max-width: 950px) {
    header nav {
      display: none;
    }
    header ul li{
        width: 98%;
        text-align: center;
    }
    .box-- .contant{
      top:300px;
      left: 200px;
    }
    #hamburger-icon {
      display: block;
    }
    .box-pos{
      display: none;
    }
    header ul{
      background-color: black;
    }
  }
  @media only screen and (max-width: 700px) {
    .box-- .contant{
      top:300px;
      left: 100px;
    }
    
  }
/* end nav */
/* start about */
#about{
  background: white;
  padding: 50px 0 ;
}
#about .header h1{
  text-align: center;
  color: #555;
  padding-top: 10px;
}
.box{
  position: relative;
}
.box-pos{
  padding: 5px;
}
.box-pos img{
  position: absolute;
  width: 300px;
  height: 400px;
}
.box-pos .photo1{
  top: 25px;
  right: 18px;
  z-index: 1;
}
.box-pos .photo2{
  top: 283px;
  right: 250px;
  z-index: 2;
}
.box-pos .photo3{
  top: 577px;
  right: 10px;
  z-index: 3;
}
.our h2{
  color: #555;
}
.our i{
  color: slategrey;
  margin-right: 2px;
}
/* end about */
/* start service */
#service{
  text-align: center;
  padding: 50px  0 ;
  background-color: #555;
  color: white;
}
#service .service-a{
  padding-bottom: 40px;
}

/* end service */
/* start our team */
.container{
  width: 90%;
  margin: auto;
}
#ourteam{
  padding: 50px 0;
}
#ourteam h1{
  color: #717171;
}
#ourteam img{
  width: 100%;
  
}
.ourteam-1{
  text-align: center;
  padding-bottom: 40px;
}
/* end our team */
/*  start reviws */
#reviews{
  padding: 50px 0;
}
#reviews h1{
  padding: 10px;
  color: rgb(34, 32, 32);
  text-align: center;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

q {font-style: italic;}

.author {color: cornflowerblue;}
/* end reviws */
/* start contact */
#contact{
  padding: 50px 0;
  background-color: white;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #e05353cc;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d43030cc;
}

#contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* end contact */
